In [1]:
import pandas as pd
import numpy as np

In [2]:
# energygenerationdata = pd.read_csv("data/time_series_60min_singleindex.csv",
#                         usecols=(lambda s: s.startswith('utc') | 
#                                  s.startswith('DE_solar') |
#                                  s. startswith('DE_wind')),
#                         parse_dates=[0], index_col=0)

windgenerationdata = pd.read_csv("data/time_series_60min_singleindex.csv",
                        usecols=(lambda s: s.startswith('utc') | 
                                 s. startswith('DE_wind_generation')),
                        parse_dates=[0], index_col=0)

solargenerationdata = pd.read_csv("data/time_series_60min_singleindex.csv",
                        usecols=(lambda s: s.startswith('utc') | 
                                 s.startswith('DE_solar')),
                        parse_dates=[0], index_col=0)

In [3]:
weatherdata = pd.read_csv("data/weather_data.csv",
                usecols=(lambda s: s.startswith('utc') | 
                         s.startswith('DE')),
                parse_dates=[0], index_col=0)

In [3]:
windspeed = pd.read_csv("data/weather_data.csv",
                usecols=(lambda s: s.startswith('utc') | 
                         s.startswith('DE_windspeed')),
                parse_dates=[0], index_col=0)

In [4]:
windspeed

                     DE_windspeed_10m
utc_timestamp
1980-01-01 00:00:00            5.7291
1980-01-01 01:00:00            5.7234
1980-01-01 02:00:00            5.7342
1980-01-01 03:00:00            5.7345
1980-01-01 04:00:00            5.6416
1980-01-01 05:00:00            5.6070
1980-01-01 06:00:00            5.5772
1980-01-01 07:00:00            5.3745
1980-01-01 08:00:00            5.4239
1980-01-01 09:00:00            5.6136
1980-01-01 10:00:00            5.8361
1980-01-01 11:00:00            5.9554
1980-01-01 12:00:00            5.8263
1980-01-01 13:00:00            5.3908
1980-01-01 14:00:00            4.9619
1980-01-01 15:00:00            4.6755
1980-01-01 16:00:00            4.6272
1980-01-01 17:00:00            4.5785
1980-01-01 18:00:00            4.5334
1980-01-01 19:00:00            4.6516
1980-01-01 20:00:00            4.7727
1980-01-01 21:00:00            4.9104
1980-01-01 22:00:00            4.9603
1980-01-01 23:00:00            4.8425
1980-01-02 00:00:00            4.7964
1980-01-02 01:00:00            4.8105
1980-01-02 02:00:00            4.6991
1980-01-02 03:00:00            4.7129
1980-01-02 04:00:00            4.6726
1980-01-02 05:00:00            4.7131
...                               ...
2016-12-30 18:00:00            3.0336
2016-12-30 19:00:00            3.0919
2016-12-30 20:00:00            3.1371
2016-12-30 21:00:00            3.1763
2016-12-30 22:00:00            3.2729
2016-12-30 23:00:00            3.3321
2016-12-31 00:00:00            3.3939
2016-12-31 01:00:00            3.4352
2016-12-31 02:00:00            3.4240
2016-12-31 03:00:00            3.4480
2016-12-31 04:00:00            3.4270
2016-12-31 05:00:00            3.4434
2016-12-31 06:00:00            3.4789
2016-12-31 07:00:00            3.5711
2016-12-31 08:00:00            3.8978
2016-12-31 09:00:00            3.9994
2016-12-31 10:00:00            4.0177
2016-12-31 11:00:00            4.0469
2016-12-31 12:00:00            4.0058
2016-12-31 13:00:00            3.7247
2016-12-31 14:00:00            3.3698
2016-12-31 15:00:00            3.5741
2016-12-31 16:00:00            3.8801
2016-12-31 17:00:00            4.0347
2016-12-31 18:00:00            4.1309
2016-12-31 19:00:00            4.2129
2016-12-31 20:00:00            4.2875
2016-12-31 21:00:00            4.2965
2016-12-31 22:00:00            4.4200
2016-12-31 23:00:00            4.4611

[324360 rows x 1 columns]

In [15]:
# start_remove = pd.to_datetime('2010-01-01')
start_remove = pd.to_datetime('2016-01-01')
end_remove = pd.to_datetime('2017-01-01')
windspeedformatted = windspeed.loc[(windspeed.index >= start_remove)]
windgenerationdataformatted = windgenerationdata.loc[(windgenerationdata.index >= start_remove) & (windgenerationdata.index < end_remove)]

In [16]:
windspeedformatted

                     DE_windspeed_10m
utc_timestamp
2016-01-01 00:00:00            3.3849
2016-01-01 01:00:00            3.3636
2016-01-01 02:00:00            3.3268
2016-01-01 03:00:00            3.2796
2016-01-01 04:00:00            3.1705
2016-01-01 05:00:00            3.0251
2016-01-01 06:00:00            2.8701
2016-01-01 07:00:00            2.6828
2016-01-01 08:00:00            2.6454
2016-01-01 09:00:00            2.6344
2016-01-01 10:00:00            2.4476
2016-01-01 11:00:00            2.2453
2016-01-01 12:00:00            2.0778
2016-01-01 13:00:00            1.8647
2016-01-01 14:00:00            1.6916
2016-01-01 15:00:00            1.9088
2016-01-01 16:00:00            2.4014
2016-01-01 17:00:00            2.8383
2016-01-01 18:00:00            3.1809
2016-01-01 19:00:00            3.4890
2016-01-01 20:00:00            3.7314
2016-01-01 21:00:00            3.9104
2016-01-01 22:00:00            4.1427
2016-01-01 23:00:00            4.3514
2016-01-02 00:00:00            4.5655
2016-01-02 01:00:00            4.8037
2016-01-02 02:00:00            5.0291
2016-01-02 03:00:00            5.1888
2016-01-02 04:00:00            5.3766
2016-01-02 05:00:00            5.5982
...                               ...
2016-12-30 18:00:00            3.0336
2016-12-30 19:00:00            3.0919
2016-12-30 20:00:00            3.1371
2016-12-30 21:00:00            3.1763
2016-12-30 22:00:00            3.2729
2016-12-30 23:00:00            3.3321
2016-12-31 00:00:00            3.3939
2016-12-31 01:00:00            3.4352
2016-12-31 02:00:00            3.4240
2016-12-31 03:00:00            3.4480
2016-12-31 04:00:00            3.4270
2016-12-31 05:00:00            3.4434
2016-12-31 06:00:00            3.4789
2016-12-31 07:00:00            3.5711
2016-12-31 08:00:00            3.8978
2016-12-31 09:00:00            3.9994
2016-12-31 10:00:00            4.0177
2016-12-31 11:00:00            4.0469
2016-12-31 12:00:00            4.0058
2016-12-31 13:00:00            3.7247
2016-12-31 14:00:00            3.3698
2016-12-31 15:00:00            3.5741
2016-12-31 16:00:00            3.8801
2016-12-31 17:00:00            4.0347
2016-12-31 18:00:00            4.1309
2016-12-31 19:00:00            4.2129
2016-12-31 20:00:00            4.2875
2016-12-31 21:00:00            4.2965
2016-12-31 22:00:00            4.4200
2016-12-31 23:00:00            4.4611

[8784 rows x 1 columns]

In [17]:
windgenerationdataformatted

                     DE_wind_generation_actual
utc_timestamp
2016-01-01 00:00:00                     8579.0
2016-01-01 01:00:00                     8542.0
2016-01-01 02:00:00                     8443.0
2016-01-01 03:00:00                     8295.0
2016-01-01 04:00:00                     7319.0
2016-01-01 05:00:00                     6574.0
2016-01-01 06:00:00                     5624.0
2016-01-01 07:00:00                     4644.0
2016-01-01 08:00:00                     3733.0
2016-01-01 09:00:00                     2776.0
2016-01-01 10:00:00                     1830.0
2016-01-01 11:00:00                     1287.0
2016-01-01 12:00:00                      790.0
2016-01-01 13:00:00                      496.0
2016-01-01 14:00:00                      405.0
2016-01-01 15:00:00                      665.0
2016-01-01 16:00:00                     1298.0
2016-01-01 17:00:00                     2146.0
2016-01-01 18:00:00                     3371.0
2016-01-01 19:00:00                     4383.0
2016-01-01 20:00:00                     5409.0
2016-01-01 21:00:00                     6180.0
2016-01-01 22:00:00                     6958.0
2016-01-01 23:00:00                     7462.0
2016-01-02 00:00:00                     8763.0
2016-01-02 01:00:00                    10716.0
2016-01-02 02:00:00                    11949.0
2016-01-02 03:00:00                    13451.0
2016-01-02 04:00:00                    14640.0
2016-01-02 05:00:00                    15480.0
...                                        ...
2016-12-30 18:00:00                    11117.0
2016-12-30 19:00:00                    11422.0
2016-12-30 20:00:00                    11732.0
2016-12-30 21:00:00                    11626.0
2016-12-30 22:00:00                    11642.0
2016-12-30 23:00:00                    11690.0
2016-12-31 00:00:00                    11799.0
2016-12-31 01:00:00                    11696.0
2016-12-31 02:00:00                    11706.0
2016-12-31 03:00:00                    11588.0
2016-12-31 04:00:00                    11699.0
2016-12-31 05:00:00                    12179.0
2016-12-31 06:00:00                    12408.0
2016-12-31 07:00:00                    12941.0
2016-12-31 08:00:00                    13026.0
2016-12-31 09:00:00                    12803.0
2016-12-31 10:00:00                    12218.0
2016-12-31 11:00:00                    12017.0
2016-12-31 12:00:00                    11746.0
2016-12-31 13:00:00                    11522.0
2016-12-31 14:00:00                    12394.0
2016-12-31 15:00:00                    13234.0
2016-12-31 16:00:00                    14072.0
2016-12-31 17:00:00                    14836.0
2016-12-31 18:00:00                    15196.0
2016-12-31 19:00:00                    15303.0
2016-12-31 20:00:00                    15354.0
2016-12-31 21:00:00                    14848.0
2016-12-31 22:00:00                    15056.0
2016-12-31 23:00:00                    15422.0

[8784 rows x 1 columns]

In [8]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [19]:
xtr, xts, ytr, yts = train_test_split(windspeedformatted,windgenerationdataformatted, test_size = 0.33)

In [26]:
model = LinearRegression().fit(xtr,ytr)
predicted = model.predict(xts)

array([[ 4178.17744476],
       [12016.77575783],
       [ 3949.54130573],
       ...,
       [22008.60106347],
       [ 7577.8974251 ],
       [ 1122.47674814]])

In [18]:
from sklearn.model_selection import cross_val_score

model = LinearRegression()

scores_wind = cross_val_score(model, windspeedformatted, windgenerationdataformatted, cv=5)
print(scores_wind, "\naverage =", np.mean(scores_wind))

[0.81568392 0.58715522 0.45299934 0.61062025 0.65504413]
average = 0.624300570072587

In [ ]:
'''
Todo:
take in weather data and generation data
separate data into two sets:
Solar
X = [sun related weather columns] 
Y = wind_generation_actual
Wind:
X = [wind related weather columns] 
Y = sun_generation_actual

Trim data based on timestamp
Wind generation begins at 2010-01-01
Solar generation begins at 2012-01-01

To try: if there are timestamps do I have to format data?
'''