In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# energygenerationdata = pd.read_csv("data/time_series_60min_singleindex.csv",
#                         usecols=(lambda s: s.startswith('utc') | 
#                                  s.startswith('DE_solar') |
#                                  s. startswith('DE_wind')),
#                         parse_dates=[0], index_col=0)

windgenerationdata = pd.read_csv("data/time_series_60min_singleindex.csv",
                        usecols=(lambda s: s.startswith('utc') | 
                                 s. startswith('DE_wind_generation')),
                        parse_dates=[0], index_col=0)

solargenerationdata = pd.read_csv("data/time_series_60min_singleindex.csv",
                        usecols=(lambda s: s.startswith('utc') | 
                                 s.startswith('DE_solar')),
                        parse_dates=[0], index_col=0)

In [3]:
# weatherdata = pd.read_csv("data/weather_data.csv",
#                 usecols=(lambda s: s.startswith('utc') | 
#                          s.startswith('DE')),
#                 parse_dates=[0], index_col=0)

In [4]:
windspeed = pd.read_csv("data/weather_data.csv",
                usecols=(lambda s: s.startswith('utc') | 
                         s.startswith('DE_windspeed')),
                parse_dates=[0], index_col=0)

In [5]:
windspeed

                     DE_windspeed_10m
utc_timestamp
1980-01-01 00:00:00            5.7291
1980-01-01 01:00:00            5.7234
1980-01-01 02:00:00            5.7342
1980-01-01 03:00:00            5.7345
1980-01-01 04:00:00            5.6416
1980-01-01 05:00:00            5.6070
1980-01-01 06:00:00            5.5772
1980-01-01 07:00:00            5.3745
1980-01-01 08:00:00            5.4239
1980-01-01 09:00:00            5.6136
1980-01-01 10:00:00            5.8361
1980-01-01 11:00:00            5.9554
1980-01-01 12:00:00            5.8263
1980-01-01 13:00:00            5.3908
1980-01-01 14:00:00            4.9619
1980-01-01 15:00:00            4.6755
1980-01-01 16:00:00            4.6272
1980-01-01 17:00:00            4.5785
1980-01-01 18:00:00            4.5334
1980-01-01 19:00:00            4.6516
1980-01-01 20:00:00            4.7727
1980-01-01 21:00:00            4.9104
1980-01-01 22:00:00            4.9603
1980-01-01 23:00:00            4.8425
1980-01-02 00:00:00            4.7964
1980-01-02 01:00:00            4.8105
1980-01-02 02:00:00            4.6991
1980-01-02 03:00:00            4.7129
1980-01-02 04:00:00            4.6726
1980-01-02 05:00:00            4.7131
...                               ...
2016-12-30 18:00:00            3.0336
2016-12-30 19:00:00            3.0919
2016-12-30 20:00:00            3.1371
2016-12-30 21:00:00            3.1763
2016-12-30 22:00:00            3.2729
2016-12-30 23:00:00            3.3321
2016-12-31 00:00:00            3.3939
2016-12-31 01:00:00            3.4352
2016-12-31 02:00:00            3.4240
2016-12-31 03:00:00            3.4480
2016-12-31 04:00:00            3.4270
2016-12-31 05:00:00            3.4434
2016-12-31 06:00:00            3.4789
2016-12-31 07:00:00            3.5711
2016-12-31 08:00:00            3.8978
2016-12-31 09:00:00            3.9994
2016-12-31 10:00:00            4.0177
2016-12-31 11:00:00            4.0469
2016-12-31 12:00:00            4.0058
2016-12-31 13:00:00            3.7247
2016-12-31 14:00:00            3.3698
2016-12-31 15:00:00            3.5741
2016-12-31 16:00:00            3.8801
2016-12-31 17:00:00            4.0347
2016-12-31 18:00:00            4.1309
2016-12-31 19:00:00            4.2129
2016-12-31 20:00:00            4.2875
2016-12-31 21:00:00            4.2965
2016-12-31 22:00:00            4.4200
2016-12-31 23:00:00            4.4611

[324360 rows x 1 columns]

In [6]:
#creating training data but cutting the data based on time stamp
# start_remove = pd.to_datetime('2016-01-01')
# end_remove = pd.to_datetime('2017-01-01')
# windspeedformatted = windspeed.loc[(windspeed.index >= start_remove)]
# windgenerationdataformatted = windgenerationdata.loc[(windgenerationdata.index >= start_remove) & (windgenerationdata.index < end_remove)]

start_remove = pd.to_datetime('2010-01-01')
end_remove = pd.to_datetime('2016-01-01')
windspeedformatted = windspeed.loc[(windspeed.index >= start_remove) & (windspeed.index < end_remove)]
windgenerationdataformatted = windgenerationdata.loc[(windgenerationdata.index >= start_remove) & (windgenerationdata.index < end_remove)]

start_test = pd.to_datetime('2016-01-01')
end_test = pd.to_datetime('2017-01-01')
windspeedtest = windspeed.loc[(windspeed.index >= start_test)]
windgenerationtest = windgenerationdata.loc[(windgenerationdata.index >= start_test) & (windgenerationdata.index < end_test)]

# start_remove = pd.to_datetime('2015-01-01')
# end_remove = pd.to_datetime('2016-01-01')
# windspeedformatted = windspeed.loc[(windspeed.index >= start_remove)]
# windgenerationdataformatted = windgenerationdata.loc[(windgenerationdata.index >= start_remove) & (windgenerationdata.index < end_remove)]

In [7]:
windspeedformatted.replace([np.inf, -np.inf], 0)

                     DE_windspeed_10m
utc_timestamp
2010-01-01 00:00:00            3.9374
2010-01-01 01:00:00            3.9878
2010-01-01 02:00:00            3.9901
2010-01-01 03:00:00            3.9727
2010-01-01 04:00:00            3.8862
2010-01-01 05:00:00            3.9241
2010-01-01 06:00:00            3.9035
2010-01-01 07:00:00            3.9273
2010-01-01 08:00:00            4.0123
2010-01-01 09:00:00            4.1910
2010-01-01 10:00:00            4.2653
2010-01-01 11:00:00            4.3315
2010-01-01 12:00:00            4.3474
2010-01-01 13:00:00            4.2587
2010-01-01 14:00:00            3.9493
2010-01-01 15:00:00            3.8267
2010-01-01 16:00:00            3.9394
2010-01-01 17:00:00            3.8112
2010-01-01 18:00:00            3.6240
2010-01-01 19:00:00            3.5129
2010-01-01 20:00:00            3.4710
2010-01-01 21:00:00            3.4933
2010-01-01 22:00:00            3.5364
2010-01-01 23:00:00            3.5886
2010-01-02 00:00:00            3.6573
2010-01-02 01:00:00            3.7279
2010-01-02 02:00:00            3.8144
2010-01-02 03:00:00            3.8747
2010-01-02 04:00:00            3.8354
2010-01-02 05:00:00            3.7759
...                               ...
2015-12-30 18:00:00            6.5575
2015-12-30 19:00:00            6.5825
2015-12-30 20:00:00            6.5276
2015-12-30 21:00:00            6.5272
2015-12-30 22:00:00            6.5668
2015-12-30 23:00:00            6.5282
2015-12-31 00:00:00            6.4425
2015-12-31 01:00:00            6.4065
2015-12-31 02:00:00            6.3973
2015-12-31 03:00:00            6.4462
2015-12-31 04:00:00            6.4534
2015-12-31 05:00:00            6.3680
2015-12-31 06:00:00            6.1804
2015-12-31 07:00:00            5.9569
2015-12-31 08:00:00            5.7683
2015-12-31 09:00:00            5.7542
2015-12-31 10:00:00            5.6747
2015-12-31 11:00:00            5.4380
2015-12-31 12:00:00            5.0060
2015-12-31 13:00:00            4.3681
2015-12-31 14:00:00            3.6872
2015-12-31 15:00:00            3.5136
2015-12-31 16:00:00            3.5170
2015-12-31 17:00:00            3.4897
2015-12-31 18:00:00            3.4712
2015-12-31 19:00:00            3.4927
2015-12-31 20:00:00            3.4956
2015-12-31 21:00:00            3.4434
2015-12-31 22:00:00            3.3919
2015-12-31 23:00:00            3.3902

[52584 rows x 1 columns]

In [8]:
#creating test/comparison data
# start_test = pd.to_datetime('2015-01-01')
# end_test = pd.to_datetime('2016-01-01')
# windspeedtest = windspeed.loc[(windspeed.index >= start_test) & (windspeed.index < end_test)]
# windgenerationtest = windgenerationdata.loc[(windgenerationdata.index >= start_test) & (windgenerationdata.index < end_test)]

In [9]:
windspeedformatted

                     DE_windspeed_10m
utc_timestamp
2010-01-01 00:00:00            3.9374
2010-01-01 01:00:00            3.9878
2010-01-01 02:00:00            3.9901
2010-01-01 03:00:00            3.9727
2010-01-01 04:00:00            3.8862
2010-01-01 05:00:00            3.9241
2010-01-01 06:00:00            3.9035
2010-01-01 07:00:00            3.9273
2010-01-01 08:00:00            4.0123
2010-01-01 09:00:00            4.1910
2010-01-01 10:00:00            4.2653
2010-01-01 11:00:00            4.3315
2010-01-01 12:00:00            4.3474
2010-01-01 13:00:00            4.2587
2010-01-01 14:00:00            3.9493
2010-01-01 15:00:00            3.8267
2010-01-01 16:00:00            3.9394
2010-01-01 17:00:00            3.8112
2010-01-01 18:00:00            3.6240
2010-01-01 19:00:00            3.5129
2010-01-01 20:00:00            3.4710
2010-01-01 21:00:00            3.4933
2010-01-01 22:00:00            3.5364
2010-01-01 23:00:00            3.5886
2010-01-02 00:00:00            3.6573
2010-01-02 01:00:00            3.7279
2010-01-02 02:00:00            3.8144
2010-01-02 03:00:00            3.8747
2010-01-02 04:00:00            3.8354
2010-01-02 05:00:00            3.7759
...                               ...
2015-12-30 18:00:00            6.5575
2015-12-30 19:00:00            6.5825
2015-12-30 20:00:00            6.5276
2015-12-30 21:00:00            6.5272
2015-12-30 22:00:00            6.5668
2015-12-30 23:00:00            6.5282
2015-12-31 00:00:00            6.4425
2015-12-31 01:00:00            6.4065
2015-12-31 02:00:00            6.3973
2015-12-31 03:00:00            6.4462
2015-12-31 04:00:00            6.4534
2015-12-31 05:00:00            6.3680
2015-12-31 06:00:00            6.1804
2015-12-31 07:00:00            5.9569
2015-12-31 08:00:00            5.7683
2015-12-31 09:00:00            5.7542
2015-12-31 10:00:00            5.6747
2015-12-31 11:00:00            5.4380
2015-12-31 12:00:00            5.0060
2015-12-31 13:00:00            4.3681
2015-12-31 14:00:00            3.6872
2015-12-31 15:00:00            3.5136
2015-12-31 16:00:00            3.5170
2015-12-31 17:00:00            3.4897
2015-12-31 18:00:00            3.4712
2015-12-31 19:00:00            3.4927
2015-12-31 20:00:00            3.4956
2015-12-31 21:00:00            3.4434
2015-12-31 22:00:00            3.3919
2015-12-31 23:00:00            3.3902

[52584 rows x 1 columns]

In [10]:
windgenerationdataformatted

                     DE_wind_generation_actual
utc_timestamp
2010-01-01 00:00:00                     3478.0
2010-01-01 01:00:00                     3414.0
2010-01-01 02:00:00                     3318.0
2010-01-01 03:00:00                     3058.0
2010-01-01 04:00:00                     3110.0
2010-01-01 05:00:00                     2866.0
2010-01-01 06:00:00                     2533.0
2010-01-01 07:00:00                     2381.0
2010-01-01 08:00:00                     2207.0
2010-01-01 09:00:00                     2016.0
2010-01-01 10:00:00                     1875.0
2010-01-01 11:00:00                     1832.0
2010-01-01 12:00:00                     1702.0
2010-01-01 13:00:00                     1738.0
2010-01-01 14:00:00                     1615.0
2010-01-01 15:00:00                     1566.0
2010-01-01 16:00:00                     1440.0
2010-01-01 17:00:00                     1445.0
2010-01-01 18:00:00                     1484.0
2010-01-01 19:00:00                     1384.0
2010-01-01 20:00:00                     1267.0
2010-01-01 21:00:00                     1123.0
2010-01-01 22:00:00                      967.0
2010-01-01 23:00:00                      890.0
2010-01-02 00:00:00                      824.0
2010-01-02 01:00:00                      801.0
2010-01-02 02:00:00                      757.0
2010-01-02 03:00:00                      714.0
2010-01-02 04:00:00                      780.0
2010-01-02 05:00:00                      809.0
...                                        ...
2015-12-30 18:00:00                    21798.0
2015-12-30 19:00:00                    21580.0
2015-12-30 20:00:00                    21244.0
2015-12-30 21:00:00                    21029.0
2015-12-30 22:00:00                    21014.0
2015-12-30 23:00:00                    21006.0
2015-12-31 00:00:00                    20778.0
2015-12-31 01:00:00                    21113.0
2015-12-31 02:00:00                    21570.0
2015-12-31 03:00:00                    21945.0
2015-12-31 04:00:00                    21940.0
2015-12-31 05:00:00                    21946.0
2015-12-31 06:00:00                    21482.0
2015-12-31 07:00:00                    20625.0
2015-12-31 08:00:00                    19377.0
2015-12-31 09:00:00                    17577.0
2015-12-31 10:00:00                    15535.0
2015-12-31 11:00:00                    14440.0
2015-12-31 12:00:00                    13502.0
2015-12-31 13:00:00                    11988.0
2015-12-31 14:00:00                    10784.0
2015-12-31 15:00:00                    10260.0
2015-12-31 16:00:00                    10026.0
2015-12-31 17:00:00                     9798.0
2015-12-31 18:00:00                     9562.0
2015-12-31 19:00:00                     8845.0
2015-12-31 20:00:00                     8632.0
2015-12-31 21:00:00                     8974.0
2015-12-31 22:00:00                     8974.0
2015-12-31 23:00:00                     8638.0

[52584 rows x 1 columns]

In [11]:
max(windgenerationdataformatted['DE_wind_generation_actual'])

32607.0

In [12]:
min(windgenerationdataformatted['DE_wind_generation_actual'])

29.0

In [13]:
windgenerationdataformatted = windgenerationdataformatted * 1e-3

In [14]:
windgenerationtest = windgenerationtest * 1e-3

In [15]:
windgenerationtest

                     DE_wind_generation_actual
utc_timestamp
2016-01-01 00:00:00                      8.579
2016-01-01 01:00:00                      8.542
2016-01-01 02:00:00                      8.443
2016-01-01 03:00:00                      8.295
2016-01-01 04:00:00                      7.319
2016-01-01 05:00:00                      6.574
2016-01-01 06:00:00                      5.624
2016-01-01 07:00:00                      4.644
2016-01-01 08:00:00                      3.733
2016-01-01 09:00:00                      2.776
2016-01-01 10:00:00                      1.830
2016-01-01 11:00:00                      1.287
2016-01-01 12:00:00                      0.790
2016-01-01 13:00:00                      0.496
2016-01-01 14:00:00                      0.405
2016-01-01 15:00:00                      0.665
2016-01-01 16:00:00                      1.298
2016-01-01 17:00:00                      2.146
2016-01-01 18:00:00                      3.371
2016-01-01 19:00:00                      4.383
2016-01-01 20:00:00                      5.409
2016-01-01 21:00:00                      6.180
2016-01-01 22:00:00                      6.958
2016-01-01 23:00:00                      7.462
2016-01-02 00:00:00                      8.763
2016-01-02 01:00:00                     10.716
2016-01-02 02:00:00                     11.949
2016-01-02 03:00:00                     13.451
2016-01-02 04:00:00                     14.640
2016-01-02 05:00:00                     15.480
...                                        ...
2016-12-30 18:00:00                     11.117
2016-12-30 19:00:00                     11.422
2016-12-30 20:00:00                     11.732
2016-12-30 21:00:00                     11.626
2016-12-30 22:00:00                     11.642
2016-12-30 23:00:00                     11.690
2016-12-31 00:00:00                     11.799
2016-12-31 01:00:00                     11.696
2016-12-31 02:00:00                     11.706
2016-12-31 03:00:00                     11.588
2016-12-31 04:00:00                     11.699
2016-12-31 05:00:00                     12.179
2016-12-31 06:00:00                     12.408
2016-12-31 07:00:00                     12.941
2016-12-31 08:00:00                     13.026
2016-12-31 09:00:00                     12.803
2016-12-31 10:00:00                     12.218
2016-12-31 11:00:00                     12.017
2016-12-31 12:00:00                     11.746
2016-12-31 13:00:00                     11.522
2016-12-31 14:00:00                     12.394
2016-12-31 15:00:00                     13.234
2016-12-31 16:00:00                     14.072
2016-12-31 17:00:00                     14.836
2016-12-31 18:00:00                     15.196
2016-12-31 19:00:00                     15.303
2016-12-31 20:00:00                     15.354
2016-12-31 21:00:00                     14.848
2016-12-31 22:00:00                     15.056
2016-12-31 23:00:00                     15.422

[8784 rows x 1 columns]

In [16]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [17]:
#train test might not be valid for our case because we have timestamps in play
# xtr, xts, ytr, yts = train_test_split(windspeedformatted,windgenerationdataformatted, test_size = 0.33)

In [18]:
#inital model training attempt
# model = LinearRegression().fit(xtr,ytr)
# predicted = model.predict(windspeedformatted)

In [19]:
#attempt at cross validation
# from sklearn.model_selection import cross_val_score

# model = LinearRegression()

# scores_wind = cross_val_score(model, windspeedformatted, windgenerationdataformatted, cv=5)
# print(scores_wind, "\naverage =", np.mean(scores_wind))

In [20]:
#predict using train test split data
# predicted = model.predict(xts)

In [21]:
# predicted

In [22]:
#error when using model from cross validation
# predicted = model.predict(windspeedformatted)

In [23]:
#timeseries used as x axis when plotting predicted
# timeseries = pd.date_range('2016-01-01', '2016-12-31 23:00:00', freq='H')

In [24]:
# timeseries

In [25]:
# windgenerationdataformatted.plot(linewidth=0.5)

In [26]:
# I think this is an invalid test because using entire dataset in the predict but the training data is from that same set
# plt.plot(timeseries,predicted, linewidth=0.5)

In [27]:
'''
Todo:
take in weather data and generation data
separate data into two sets:
Solar
X = [sun related weather columns] 
Y = wind_generation_actual
Wind:
X = [wind related weather columns] 
Y = sun_generation_actual

Trim data based on timestamp
Wind generation begins at 2010-01-01
However there are values with NaN.
No wind data past 2016
Only valid times for dataset is 2015-01-01 to 2017

Solar generation begins at 2012-01-01

To try: if there are timestamps do I have to format data?
'''

'\nTodo:\ntake in weather data and generation data\nseparate data into two sets:\nSolar\nX = [sun related weather columns] \nY = wind_generation_actual\nWind:\nX = [wind related weather columns] \nY = sun_generation_actual\n\nTrim data based on timestamp\nWind generation begins at 2010-01-01\nHowever there are values with NaN.\nNo wind data past 2016\nOnly valid times for dataset is 2015-01-01 to 2017\n\nSolar generation begins at 2012-01-01\n\nTo try: if there are timestamps do I have to format data?\n'

In [30]:
np.any(np.isnan(windspeedformatted))

False

In [31]:
np.all(np.isfinite(windspeedformatted))

True

In [29]:
model = LinearRegression().fit(windspeedformatted,windgenerationdataformatted)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [ ]:
#using the previously formatted data which is data from 2015
prediction = model.predict(windspeedtest)

In [ ]:
timeseries = pd.date_range('2016-01-01', '2016-12-31 23:00:00', freq='H')

In [ ]:
windgenerationtest.plot(linewidth=0.5)

In [ ]:
plt.plot(timeseries,prediction, linewidth=0.5)

In [ ]:
from sklearn.metrics import r2_score
print(r2_score(windgenerationtest, prediction))

In [ ]:
#large number because we're deadling with large numbers
from sklearn.metrics import mean_squared_error
print(mean_squared_error(windgenerationtest, prediction))

In [ ]:
print(np.sum((windgenerationtest-prediction)**2)/(prediction.shape[0]))

In [ ]:
'''
To do:
Figure out mse (maybe normalize)
figure out cross validation fitting
Incorportate more data (more times and more regions)

NN model experimentation

Expand to solar generation
'''