In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# energygenerationdata = pd.read_csv("data/time_series_60min_singleindex.csv",
#                         usecols=(lambda s: s.startswith('utc') | 
#                                  s.startswith('DE_solar') |
#                                  s. startswith('DE_wind')),
#                         parse_dates=[0], index_col=0)

# wind generation is measured in MW
windgenerationdata = pd.read_csv("data/time_series_60min_singleindex.csv",
                        usecols=(lambda s: s.startswith('utc') | 
                                 s. startswith('DE_wind_generation')),
                        parse_dates=[0], index_col=0)

# solargenerationdata = pd.read_csv("data/time_series_60min_singleindex.csv",
#                         usecols=(lambda s: s.startswith('utc') | 
#                                  s.startswith('DE_solar')),
#                         parse_dates=[0], index_col=0)

In [3]:
# weatherdata = pd.read_csv("data/weather_data.csv",
#                 usecols=(lambda s: s.startswith('utc') | 
#                          s.startswith('DE')),
#                 parse_dates=[0], index_col=0)

In [4]:
windspeed = pd.read_csv("data/weather_data.csv",
                usecols=(lambda s: s.startswith('utc') | 
                         s.startswith('DE_windspeed')),
                parse_dates=[0], index_col=0)

In [5]:
windspeed

                     DE_windspeed_10m
utc_timestamp
1980-01-01 00:00:00            5.7291
1980-01-01 01:00:00            5.7234
1980-01-01 02:00:00            5.7342
1980-01-01 03:00:00            5.7345
1980-01-01 04:00:00            5.6416
1980-01-01 05:00:00            5.6070
1980-01-01 06:00:00            5.5772
1980-01-01 07:00:00            5.3745
1980-01-01 08:00:00            5.4239
1980-01-01 09:00:00            5.6136
1980-01-01 10:00:00            5.8361
1980-01-01 11:00:00            5.9554
1980-01-01 12:00:00            5.8263
1980-01-01 13:00:00            5.3908
1980-01-01 14:00:00            4.9619
1980-01-01 15:00:00            4.6755
1980-01-01 16:00:00            4.6272
1980-01-01 17:00:00            4.5785
1980-01-01 18:00:00            4.5334
1980-01-01 19:00:00            4.6516
1980-01-01 20:00:00            4.7727
1980-01-01 21:00:00            4.9104
1980-01-01 22:00:00            4.9603
1980-01-01 23:00:00            4.8425
1980-01-02 00:00:00            4.7964
1980-01-02 01:00:00            4.8105
1980-01-02 02:00:00            4.6991
1980-01-02 03:00:00            4.7129
1980-01-02 04:00:00            4.6726
1980-01-02 05:00:00            4.7131
...                               ...
2016-12-30 18:00:00            3.0336
2016-12-30 19:00:00            3.0919
2016-12-30 20:00:00            3.1371
2016-12-30 21:00:00            3.1763
2016-12-30 22:00:00            3.2729
2016-12-30 23:00:00            3.3321
2016-12-31 00:00:00            3.3939
2016-12-31 01:00:00            3.4352
2016-12-31 02:00:00            3.4240
2016-12-31 03:00:00            3.4480
2016-12-31 04:00:00            3.4270
2016-12-31 05:00:00            3.4434
2016-12-31 06:00:00            3.4789
2016-12-31 07:00:00            3.5711
2016-12-31 08:00:00            3.8978
2016-12-31 09:00:00            3.9994
2016-12-31 10:00:00            4.0177
2016-12-31 11:00:00            4.0469
2016-12-31 12:00:00            4.0058
2016-12-31 13:00:00            3.7247
2016-12-31 14:00:00            3.3698
2016-12-31 15:00:00            3.5741
2016-12-31 16:00:00            3.8801
2016-12-31 17:00:00            4.0347
2016-12-31 18:00:00            4.1309
2016-12-31 19:00:00            4.2129
2016-12-31 20:00:00            4.2875
2016-12-31 21:00:00            4.2965
2016-12-31 22:00:00            4.4200
2016-12-31 23:00:00            4.4611

[324360 rows x 1 columns]

In [6]:
#creating training data but cutting the data based on time stamp
# start_remove = pd.to_datetime('2016-01-01')
# end_remove = pd.to_datetime('2017-01-01')
# windspeedformatted = windspeed.loc[(windspeed.index >= start_remove)]
# windgenerationdataformatted = windgenerationdata.loc[(windgenerationdata.index >= start_remove) & (windgenerationdata.index < end_remove)]

# start_remove = pd.to_datetime('2015-01-01')
# end_remove = pd.to_datetime('2016-01-01')
# windspeedformatted = windspeed.loc[(windspeed.index >= start_remove)]
# windgenerationdataformatted = windgenerationdata.loc[(windgenerationdata.index >= start_remove) & (windgenerationdata.index < end_remove)]


# training and data set

# start_remove = pd.to_datetime('2015-01-01')
# end_remove = pd.to_datetime('2016-12-01')
# windspeedformatted = windspeed.loc[(windspeed.index >= start_remove) & (windspeed.index < end_remove)]
# windgenerationdataformatted = windgenerationdata.loc[(windgenerationdata.index >= start_remove) & (windgenerationdata.index < end_remove)]

# start_test = pd.to_datetime('2016-12-01')
# end_test = pd.to_datetime('2017-01-01')
# windspeedtest = windspeed.loc[(windspeed.index >= start_test)]
# windgenerationtest = windgenerationdata.loc[(windgenerationdata.index >= start_test) & (windgenerationdata.index < end_test)]



start_remove = pd.to_datetime('2014-01-01')
end_remove = pd.to_datetime('2016-11-01')
windspeedformatted = windspeed.loc[(windspeed.index >= start_remove) & (windspeed.index < end_remove)]
windgenerationdataformatted = windgenerationdata.loc[(windgenerationdata.index >= start_remove) & (windgenerationdata.index < end_remove)]

start_test = pd.to_datetime('2016-11-01')
end_test = pd.to_datetime('2017-01-01')
windspeedtest = windspeed.loc[(windspeed.index >= start_test)]
windgenerationtest = windgenerationdata.loc[(windgenerationdata.index >= start_test) & (windgenerationdata.index < end_test)]

In [7]:
windspeedformatted.replace([np.inf, -np.inf], 0)

                     DE_windspeed_10m
utc_timestamp
2014-01-01 00:00:00            4.9816
2014-01-01 01:00:00            4.9321
2014-01-01 02:00:00            4.8650
2014-01-01 03:00:00            4.8423
2014-01-01 04:00:00            4.7725
2014-01-01 05:00:00            4.7482
2014-01-01 06:00:00            4.7220
2014-01-01 07:00:00            4.7000
2014-01-01 08:00:00            4.9445
2014-01-01 09:00:00            4.9951
2014-01-01 10:00:00            4.9439
2014-01-01 11:00:00            5.0711
2014-01-01 12:00:00            4.8739
2014-01-01 13:00:00            4.4289
2014-01-01 14:00:00            4.3824
2014-01-01 15:00:00            4.8806
2014-01-01 16:00:00            5.4025
2014-01-01 17:00:00            5.7547
2014-01-01 18:00:00            5.9767
2014-01-01 19:00:00            6.1365
2014-01-01 20:00:00            6.3099
2014-01-01 21:00:00            6.4801
2014-01-01 22:00:00            6.5314
2014-01-01 23:00:00            6.5487
2014-01-02 00:00:00            6.5690
2014-01-02 01:00:00            6.5859
2014-01-02 02:00:00            6.6265
2014-01-02 03:00:00            6.7661
2014-01-02 04:00:00            6.9392
2014-01-02 05:00:00            7.0110
...                               ...
2016-10-30 18:00:00            2.1747
2016-10-30 19:00:00            2.1595
2016-10-30 20:00:00            2.1701
2016-10-30 21:00:00            2.2082
2016-10-30 22:00:00            2.2287
2016-10-30 23:00:00            2.2306
2016-10-31 00:00:00            2.2592
2016-10-31 01:00:00            2.3010
2016-10-31 02:00:00            2.3368
2016-10-31 03:00:00            2.3898
2016-10-31 04:00:00            2.4487
2016-10-31 05:00:00            2.4820
2016-10-31 06:00:00            2.4997
2016-10-31 07:00:00            2.6652
2016-10-31 08:00:00            2.9004
2016-10-31 09:00:00            2.9000
2016-10-31 10:00:00            2.9780
2016-10-31 11:00:00            2.9673
2016-10-31 12:00:00            2.8566
2016-10-31 13:00:00            2.6392
2016-10-31 14:00:00            2.2155
2016-10-31 15:00:00            1.6321
2016-10-31 16:00:00            1.9264
2016-10-31 17:00:00            2.0788
2016-10-31 18:00:00            2.1512
2016-10-31 19:00:00            2.2302
2016-10-31 20:00:00            2.3479
2016-10-31 21:00:00            2.4945
2016-10-31 22:00:00            2.6240
2016-10-31 23:00:00            2.7117

[24840 rows x 1 columns]

In [8]:
#creating test/comparison data
# start_test = pd.to_datetime('2015-01-01')
# end_test = pd.to_datetime('2016-01-01')
# windspeedtest = windspeed.loc[(windspeed.index >= start_test) & (windspeed.index < end_test)]
# windgenerationtest = windgenerationdata.loc[(windgenerationdata.index >= start_test) & (windgenerationdata.index < end_test)]

In [9]:
windspeedformatted.dtypes

DE_windspeed_10m    float64
dtype: object

In [10]:
windgenerationdataformatted

                     DE_wind_generation_actual
utc_timestamp
2014-01-01 00:00:00                     8086.0
2014-01-01 01:00:00                     8803.0
2014-01-01 02:00:00                     8970.0
2014-01-01 03:00:00                     8510.0
2014-01-01 04:00:00                     8360.0
2014-01-01 05:00:00                     8047.0
2014-01-01 06:00:00                     8232.0
2014-01-01 07:00:00                     8380.0
2014-01-01 08:00:00                     8084.0
2014-01-01 09:00:00                     7011.0
2014-01-01 10:00:00                     6630.0
2014-01-01 11:00:00                     5944.0
2014-01-01 12:00:00                     5598.0
2014-01-01 13:00:00                     5392.0
2014-01-01 14:00:00                     5781.0
2014-01-01 15:00:00                     7948.0
2014-01-01 16:00:00                     9822.0
2014-01-01 17:00:00                    11036.0
2014-01-01 18:00:00                    12357.0
2014-01-01 19:00:00                    12848.0
2014-01-01 20:00:00                    12980.0
2014-01-01 21:00:00                    13498.0
2014-01-01 22:00:00                    13991.0
2014-01-01 23:00:00                    13777.0
2014-01-02 00:00:00                    13826.0
2014-01-02 01:00:00                    14098.0
2014-01-02 02:00:00                    14786.0
2014-01-02 03:00:00                    14998.0
2014-01-02 04:00:00                    15127.0
2014-01-02 05:00:00                    15705.0
...                                        ...
2016-10-30 18:00:00                     2394.0
2016-10-30 19:00:00                     2320.0
2016-10-30 20:00:00                     2064.0
2016-10-30 21:00:00                     1873.0
2016-10-30 22:00:00                     1454.0
2016-10-30 23:00:00                     1737.0
2016-10-31 00:00:00                     1768.0
2016-10-31 01:00:00                     1874.0
2016-10-31 02:00:00                     1928.0
2016-10-31 03:00:00                     2020.0
2016-10-31 04:00:00                     2020.0
2016-10-31 05:00:00                     2056.0
2016-10-31 06:00:00                     2258.0
2016-10-31 07:00:00                     2338.0
2016-10-31 08:00:00                     1936.0
2016-10-31 09:00:00                     1522.0
2016-10-31 10:00:00                     1321.0
2016-10-31 11:00:00                     1361.0
2016-10-31 12:00:00                     1509.0
2016-10-31 13:00:00                     1613.0
2016-10-31 14:00:00                     1681.0
2016-10-31 15:00:00                     1654.0
2016-10-31 16:00:00                     1952.0
2016-10-31 17:00:00                     2340.0
2016-10-31 18:00:00                     2752.0
2016-10-31 19:00:00                     3145.0
2016-10-31 20:00:00                     3640.0
2016-10-31 21:00:00                     4271.0
2016-10-31 22:00:00                     4816.0
2016-10-31 23:00:00                     5516.0

[24840 rows x 1 columns]

In [11]:
max(windgenerationdataformatted['DE_wind_generation_actual'])

33626.0

In [12]:
min(windgenerationdataformatted['DE_wind_generation_actual'])

29.0

In [13]:
windgenerationdataformatted = windgenerationdataformatted * 1e-3

In [14]:
windgenerationtest = windgenerationtest * 1e-3

In [15]:
windgenerationtest

                     DE_wind_generation_actual
utc_timestamp
2016-11-01 00:00:00                      5.909
2016-11-01 01:00:00                      6.431
2016-11-01 02:00:00                      6.615
2016-11-01 03:00:00                      6.678
2016-11-01 04:00:00                      7.034
2016-11-01 05:00:00                      7.856
2016-11-01 06:00:00                      7.934
2016-11-01 07:00:00                      7.865
2016-11-01 08:00:00                      7.592
2016-11-01 09:00:00                      7.807
2016-11-01 10:00:00                      8.220
2016-11-01 11:00:00                      9.363
2016-11-01 12:00:00                      9.761
2016-11-01 13:00:00                     10.104
2016-11-01 14:00:00                     10.512
2016-11-01 15:00:00                     11.376
2016-11-01 16:00:00                     12.178
2016-11-01 17:00:00                     12.919
2016-11-01 18:00:00                     13.902
2016-11-01 19:00:00                     15.115
2016-11-01 20:00:00                     15.776
2016-11-01 21:00:00                     15.708
2016-11-01 22:00:00                     16.319
2016-11-01 23:00:00                     16.810
2016-11-02 00:00:00                     17.488
2016-11-02 01:00:00                     18.098
2016-11-02 02:00:00                     18.442
2016-11-02 03:00:00                     19.007
2016-11-02 04:00:00                     19.337
2016-11-02 05:00:00                     20.183
...                                        ...
2016-12-30 18:00:00                     11.117
2016-12-30 19:00:00                     11.422
2016-12-30 20:00:00                     11.732
2016-12-30 21:00:00                     11.626
2016-12-30 22:00:00                     11.642
2016-12-30 23:00:00                     11.690
2016-12-31 00:00:00                     11.799
2016-12-31 01:00:00                     11.696
2016-12-31 02:00:00                     11.706
2016-12-31 03:00:00                     11.588
2016-12-31 04:00:00                     11.699
2016-12-31 05:00:00                     12.179
2016-12-31 06:00:00                     12.408
2016-12-31 07:00:00                     12.941
2016-12-31 08:00:00                     13.026
2016-12-31 09:00:00                     12.803
2016-12-31 10:00:00                     12.218
2016-12-31 11:00:00                     12.017
2016-12-31 12:00:00                     11.746
2016-12-31 13:00:00                     11.522
2016-12-31 14:00:00                     12.394
2016-12-31 15:00:00                     13.234
2016-12-31 16:00:00                     14.072
2016-12-31 17:00:00                     14.836
2016-12-31 18:00:00                     15.196
2016-12-31 19:00:00                     15.303
2016-12-31 20:00:00                     15.354
2016-12-31 21:00:00                     14.848
2016-12-31 22:00:00                     15.056
2016-12-31 23:00:00                     15.422

[1464 rows x 1 columns]

In [16]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [17]:
#train test might not be valid for our case because we have timestamps in play
# xtr, xts, ytr, yts = train_test_split(windspeedformatted,windgenerationdataformatted, test_size = 0.33)

In [18]:
#inital model training attempt
# model = LinearRegression().fit(xtr,ytr)
# predicted = model.predict(windspeedformatted)

In [19]:
#attempt at cross validation
# from sklearn.model_selection import cross_val_score

# model = LinearRegression()

# scores_wind = cross_val_score(model, windspeedformatted, windgenerationdataformatted, cv=5)
# print(scores_wind, "\naverage =", np.mean(scores_wind))

In [20]:
#predict using train test split data
# predicted = model.predict(xts)

In [21]:
# predicted

In [22]:
#error when using model from cross validation
# predicted = model.predict(windspeedformatted)

In [23]:
#timeseries used as x axis when plotting predicted
# timeseries = pd.date_range('2016-01-01', '2016-12-31 23:00:00', freq='H')

In [24]:
# timeseries

In [25]:
# windgenerationdataformatted.plot(linewidth=0.5)

In [26]:
# I think this is an invalid test because using entire dataset in the predict but the training data is from that same set
# plt.plot(timeseries,predicted, linewidth=0.5)

In [27]:
'''
Todo:
take in weather data and generation data
separate data into two sets:
Solar
X = [sun related weather columns] 
Y = wind_generation_actual
Wind:
X = [wind related weather columns] 
Y = sun_generation_actual

Trim data based on timestamp
Wind generation begins at 2010-01-01
However there are values with NaN.
No wind data past 2016
Only valid times for dataset is 2015-01-01 to 2017

Solar generation begins at 2012-01-01

To try: if there are timestamps do I have to format data?
'''

'\nTodo:\ntake in weather data and generation data\nseparate data into two sets:\nSolar\nX = [sun related weather columns] \nY = wind_generation_actual\nWind:\nX = [wind related weather columns] \nY = sun_generation_actual\n\nTrim data based on timestamp\nWind generation begins at 2010-01-01\nHowever there are values with NaN.\nNo wind data past 2016\nOnly valid times for dataset is 2015-01-01 to 2017\n\nSolar generation begins at 2012-01-01\n\nTo try: if there are timestamps do I have to format data?\n'

In [28]:
np.any(np.isnan(windspeedformatted))

False

In [29]:
np.all(np.isfinite(windspeedformatted))

True

In [30]:
windspeedformatted = windspeedformatted[~windspeedformatted.isin([np.nan, np.inf, -np.inf]).any(1)]

In [31]:
np.where(windspeedformatted.values >= np.finfo(np.float64).max)

(array([], dtype=int64), array([], dtype=int64))

In [32]:
windspeedformatted

                     DE_windspeed_10m
utc_timestamp
2014-01-01 00:00:00            4.9816
2014-01-01 01:00:00            4.9321
2014-01-01 02:00:00            4.8650
2014-01-01 03:00:00            4.8423
2014-01-01 04:00:00            4.7725
2014-01-01 05:00:00            4.7482
2014-01-01 06:00:00            4.7220
2014-01-01 07:00:00            4.7000
2014-01-01 08:00:00            4.9445
2014-01-01 09:00:00            4.9951
2014-01-01 10:00:00            4.9439
2014-01-01 11:00:00            5.0711
2014-01-01 12:00:00            4.8739
2014-01-01 13:00:00            4.4289
2014-01-01 14:00:00            4.3824
2014-01-01 15:00:00            4.8806
2014-01-01 16:00:00            5.4025
2014-01-01 17:00:00            5.7547
2014-01-01 18:00:00            5.9767
2014-01-01 19:00:00            6.1365
2014-01-01 20:00:00            6.3099
2014-01-01 21:00:00            6.4801
2014-01-01 22:00:00            6.5314
2014-01-01 23:00:00            6.5487
2014-01-02 00:00:00            6.5690
2014-01-02 01:00:00            6.5859
2014-01-02 02:00:00            6.6265
2014-01-02 03:00:00            6.7661
2014-01-02 04:00:00            6.9392
2014-01-02 05:00:00            7.0110
...                               ...
2016-10-30 18:00:00            2.1747
2016-10-30 19:00:00            2.1595
2016-10-30 20:00:00            2.1701
2016-10-30 21:00:00            2.2082
2016-10-30 22:00:00            2.2287
2016-10-30 23:00:00            2.2306
2016-10-31 00:00:00            2.2592
2016-10-31 01:00:00            2.3010
2016-10-31 02:00:00            2.3368
2016-10-31 03:00:00            2.3898
2016-10-31 04:00:00            2.4487
2016-10-31 05:00:00            2.4820
2016-10-31 06:00:00            2.4997
2016-10-31 07:00:00            2.6652
2016-10-31 08:00:00            2.9004
2016-10-31 09:00:00            2.9000
2016-10-31 10:00:00            2.9780
2016-10-31 11:00:00            2.9673
2016-10-31 12:00:00            2.8566
2016-10-31 13:00:00            2.6392
2016-10-31 14:00:00            2.2155
2016-10-31 15:00:00            1.6321
2016-10-31 16:00:00            1.9264
2016-10-31 17:00:00            2.0788
2016-10-31 18:00:00            2.1512
2016-10-31 19:00:00            2.2302
2016-10-31 20:00:00            2.3479
2016-10-31 21:00:00            2.4945
2016-10-31 22:00:00            2.6240
2016-10-31 23:00:00            2.7117

[24840 rows x 1 columns]

In [33]:
np.any(np.isnan(windspeedformatted))

False

In [34]:
windgenerationdataformatted

                     DE_wind_generation_actual
utc_timestamp
2014-01-01 00:00:00                      8.086
2014-01-01 01:00:00                      8.803
2014-01-01 02:00:00                      8.970
2014-01-01 03:00:00                      8.510
2014-01-01 04:00:00                      8.360
2014-01-01 05:00:00                      8.047
2014-01-01 06:00:00                      8.232
2014-01-01 07:00:00                      8.380
2014-01-01 08:00:00                      8.084
2014-01-01 09:00:00                      7.011
2014-01-01 10:00:00                      6.630
2014-01-01 11:00:00                      5.944
2014-01-01 12:00:00                      5.598
2014-01-01 13:00:00                      5.392
2014-01-01 14:00:00                      5.781
2014-01-01 15:00:00                      7.948
2014-01-01 16:00:00                      9.822
2014-01-01 17:00:00                     11.036
2014-01-01 18:00:00                     12.357
2014-01-01 19:00:00                     12.848
2014-01-01 20:00:00                     12.980
2014-01-01 21:00:00                     13.498
2014-01-01 22:00:00                     13.991
2014-01-01 23:00:00                     13.777
2014-01-02 00:00:00                     13.826
2014-01-02 01:00:00                     14.098
2014-01-02 02:00:00                     14.786
2014-01-02 03:00:00                     14.998
2014-01-02 04:00:00                     15.127
2014-01-02 05:00:00                     15.705
...                                        ...
2016-10-30 18:00:00                      2.394
2016-10-30 19:00:00                      2.320
2016-10-30 20:00:00                      2.064
2016-10-30 21:00:00                      1.873
2016-10-30 22:00:00                      1.454
2016-10-30 23:00:00                      1.737
2016-10-31 00:00:00                      1.768
2016-10-31 01:00:00                      1.874
2016-10-31 02:00:00                      1.928
2016-10-31 03:00:00                      2.020
2016-10-31 04:00:00                      2.020
2016-10-31 05:00:00                      2.056
2016-10-31 06:00:00                      2.258
2016-10-31 07:00:00                      2.338
2016-10-31 08:00:00                      1.936
2016-10-31 09:00:00                      1.522
2016-10-31 10:00:00                      1.321
2016-10-31 11:00:00                      1.361
2016-10-31 12:00:00                      1.509
2016-10-31 13:00:00                      1.613
2016-10-31 14:00:00                      1.681
2016-10-31 15:00:00                      1.654
2016-10-31 16:00:00                      1.952
2016-10-31 17:00:00                      2.340
2016-10-31 18:00:00                      2.752
2016-10-31 19:00:00                      3.145
2016-10-31 20:00:00                      3.640
2016-10-31 21:00:00                      4.271
2016-10-31 22:00:00                      4.816
2016-10-31 23:00:00                      5.516

[24840 rows x 1 columns]

In [38]:
for i, value in enumerate(windspeedformatted.values):
    if value.dtype != np.float64:
        print(i, value)

In [36]:
model = LinearRegression().fit(windspeedformatted,windgenerationdataformatted)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [ ]:
#using the previously formatted data which is data from 2015
prediction = model.predict(windspeedtest)

In [ ]:
timeseries = pd.date_range('2016-11-01', '2016-12-31 23:00:00', freq='H')

In [ ]:
windgenerationtest.plot(linewidth=0.5)

In [ ]:
plt.plot(timeseries,prediction, linewidth=0.5)

In [ ]:
from sklearn.metrics import r2_score
print(r2_score(windgenerationtest, prediction))

In [ ]:
#large number because we're deadling with large numbers
from sklearn.metrics import mean_squared_error
print(mean_squared_error(windgenerationtest, prediction))

In [ ]:
print(np.sum((windgenerationtest-prediction)**2)/(prediction.shape[0]))

In [ ]:
'''
To do:
Figure out mse (maybe normalize)
figure out cross validation fitting
Incorportate more data (more times and more regions)

NN model experimentation

Expand to solar generation
'''

In [ ]:
for i, value in enumerate(windspeedformatted.values):
    if value.dtype != np.float64:
        print(i, value)

In [ ]:
# np.where((windspeedformatted.values).dtype != np.float64)

In [ ]:
# 3.3706 != np.float64

In [ ]:
# windspeedformatted.values

In [ ]:
# windspeedformatted.values.dtype != np.float64